html {
  font-size: 10px; }

body {
  font: 18px/1.5 cambria, georgia, times, serif;
  font-size: 1.8rem;
  color: #111; }

h1, h2, h3, h4, h5 {
  font-family: "Palatino", Times, serif;
  line-height: 1.2;
  color: #222;
  margin: 1rem 0;
  font-weight: normal; }

h1 {
  font-size: 45px;
  font-size: 4.5rem; }

h2 {
  font-size: 32px;
  font-size: 3.2rem; }

h3 {
  font-size: 28px;
  font-size: 2.8rem; }

h4 {
  font-size: 24px;
  font-size: 2.4rem; }

h5 {
  font-weight: bold; }

p {
  margin: 1.5em 0;
  line-height: 1.5; }
  p code {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #d6ffd4;
    font-family: Menlo, Monaco, Consolas, "Courier New",monospace;
    font-size: 1.5rem;
    padding: 1px 2px; }
    p code:hover {
      background-color: #aeffaa; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

a, a:visited {
  color: #15af00; }

a:hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #15af00;
  color: #fff;
  text-decoration: none; }

/* For modern browsers */
.cf:before,
.cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1; }

.left {
  float: left; }

.right {
  float: right; }

.inner {
  width: 600px;
  margin: 0 auto;
  padding: 0 1em; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -16px; }

.praetorians {
  height: 16px;
  padding: 0 5px;
  text-align: right;
  font-size: 12px;
  line-height: 12px; }
  .praetorians a, .praetorians a:hover {
    color: #111;
    background: 0;
    text-decoration: none;
    cursor: help; }

header.top {
  background: #000;
  padding: 0.75em 0;
  font-size: 20px;
  font-size: 2.0rem; }
  header.top a {
    text-decoration: none; }
  header.top a:hover {
    text-decoration: underline;
    background: none; }
  header.top .logo {
    color: #73ff87; }
  header.top .nav-link {
    color: #eee; }
    header.top .nav-link.active {
      text-decoration: underline; }
  header.top nav {
    text-align: right;
    margin-left: 25%; }
  header.top li {
    display: inline;
    padding: 0 0.35em; }

section.main {
  display: block;
  padding: 1.5em 0; }

footer {
  padding: 1em;
  font-size: 1.5rem; }
  footer .inner {
    border-top: dotted 1px #666;
    padding: 10px 0; }
  footer .footer-nav {
    list-style: none;
    text-align: right; }
  footer .nav-item {
    display: inline; }
    footer .nav-item:after {
      content: "-"; }
    footer .nav-item:last-child:after {
      content: ""; }
    footer .nav-item a {
      padding: 3px 5px; }

.breadcrumb {
  font-size: 1.5rem;
  padding: 5px;
  border-bottom: 1px solid #666;
  margin: 1em 0 1.5em;
  color: #333; }

ul.journal {
  list-style: none; }
  ul.journal .posted-time {
    display: block;
    float: left;
    width: 115px;
    color: #666; }

header.journal {
  margin-bottom: -1.5em; }
  header.journal .datetime {
    font-size: 1.75rem;
    color: #666; }

.post ul {
  margin: 0 0 1.5em 1em; }

blockquote {
  margin: 0 0 1.5em;
  padding: 20px 20px 1px 40px;
  background: #ddd;
  color: #444;
  border-left: 3px solid #15af00;
  font-style: italic; }
  blockquote p {
    margin: 0 0 1.5em;
    line-height: 1.75; }

.codebox {
  margin: 1.5em 0; }

figure {
  margin: 0;
  overflow: auto; }
  figure.code {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #eee;
    padding: 10px;
    font-size: 1.5rem; }
    figure.code:hover {
      background-color: #e3e3e3; }
  figure figcaption {
    display: none; }
  figure pre {
    margin-bottom: -1.5em; }

/*# sourceMappingURL=site.css.map */